parameters:
    level: 8
    paths:
        - .
    excludePaths:
        - vendor/*
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanDirectories:
        - vendor/freshrss/app/Models
        - vendor/freshrss/lib
    ignoreErrors:
        -
            identifier: missingType.iterableValue 