name: PHP Code Quality

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master]

jobs:
  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none
          tools: cs2pr

      - name: Clone FreshRSS
        run: mkdir -p vendor && git clone https://github.com/FreshRSS/FreshRSS.git vendor/freshrss
          
      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Dump autoload
        run: composer dump-autoload

      - name: Run PHP-CS-Fixer
        run: vendor/bin/php-cs-fixer fix --dry-run --diff --using-cache=no --verbose

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none

      - name: Clone FreshRSS
        run: mkdir -p vendor && git clone https://github.com/FreshRSS/FreshRSS.git vendor/freshrss
          
      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Dump autoload
        run: composer dump-autoload

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse

  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none

      - name: Clone FreshRSS
        run: mkdir -p vendor && git clone https://github.com/FreshRSS/FreshRSS.git vendor/freshrss

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Dump autoload
        run: composer dump-autoload

      - name: Run Psalm
        run: vendor/bin/psalm --no-cache --show-info=true 

  phpunit:
    name: PHPUnit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: xdebug
          tools: phpunit

      - name: Clone FreshRSS
        run: mkdir -p vendor && git clone https://github.com/FreshRSS/FreshRSS.git vendor/freshrss

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Dump autoload
        run: composer dump-autoload

      - name: Run PHPUnit tests
        run: vendor/bin/phpunit

      # TODO: Add coverage report
